* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  background-color: #569C87;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 2.7em;
  color: #FCCA46;
}

.contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenu__menu1 {
  width: 250px;
  height: 360px;
  margin: 30px 0 30px 0;
  box-shadow: 0px 0px 3px 3px #dad8d8;
  background-color: #FCDFDB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenu__menu1__detail {
  text-align: center;
}
.contenu__menu1__detail i {
  font-size: 3em;
  background: linear-gradient(90deg, #f04a5e 0%, #f78f6a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contenu__menu1__detail p {
  font-family: "Kalam", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: #3C1218;
}
.contenu__menu1__detail h2 {
  font-family: "Kalam", sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  color: #3C1218;
}
.contenu__menu2 {
  width: 250px;
  height: 360px;
  margin: 30px 0 30px 0;
  box-shadow: 0px 0px 3px 3px #dad8d8;
  background-color: #FFF5FE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenu__menu2__detail {
  text-align: center;
}
.contenu__menu2__detail p {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  background: linear-gradient(139deg, #c77412 0%, #9a40ee 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contenu__menu2__detail h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: #C77412;
}
.contenu__menu3 {
  width: 250px;
  height: 360px;
  margin: 30px 0 30px 0;
  box-shadow: 0px 0px 3px 3px #dad8d8;
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenu__menu3__detail {
  text-align: center;
}
.contenu__menu3__detail p {
  font-family: "Kalam", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  background: linear-gradient(158deg, #081dac 0%, #0887fb 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contenu__menu3__detail h2 {
  font-family: "Kalam", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  color: #0887FB;
}
.contenu__menu4 {
  width: 250px;
  height: 360px;
  margin: 30px 0 30px 0;
  box-shadow: 0px 0px 3px 3px #dad8d8;
  background-color: #FDFFFD;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenu__menu4__detail {
  text-align: center;
}
.contenu__menu4__detail p {
  font-family: "Kalam", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  background: linear-gradient(90deg, #64bf42 0%, #a8ff9e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.contenu__menu4__detail h2 {
  font-family: "Kalam", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  color: #72BF56;
}

.zone_prochainement {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.zone_prochainement__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 400;
  width: 270px;
  height: 50px;
  color: #FCCA46;
  background-color: #569C87;
  border-radius: 10px;
}
.zone_prochainement__bloc p {
  display: inline-block;
}

.carte_contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carte_contenu h1 {
  font-size: 1.5em;
  margin: 30px 0 15px 0;
}

.carte_menu1 {
  width: 75%;
  height: 100%;
  box-shadow: 0px 0px 3px 3px #dad8d8;
  margin-bottom: 80px;
  background-color: #FCDFDB;
  font-family: "Kalam", sans-serif;
  padding: 0 15px 0 15px;
}
.carte_menu1 img {
  width: 150px;
}
.carte_menu1 header {
  background-color: #FCDFDB;
  flex-direction: column;
  margin-top: 40px;
  font-size: 1.3em;
}
.carte_menu1 article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.8em;
  margin: 0px 0px 0px 0px;
}

.footer_carte {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
}
.footer_carte p {
  margin-top: 8px;
  font-size: 1.4em;
}
.footer_carte i {
  margin-right: 10px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #569C87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FCCA46;
  font-weight: 500;
  position: fixed;
  bottom: 0px;
}
footer p {
  margin: 0 10px 0 10px;
}

/*# sourceMappingURL=style.css.map */
