* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  min-width: 320px;
}

.header_site {
  background-color: #569C87;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_site h1 {
  font-size: 2.7em;
  color: #FCCA46;
}

.contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu {
  width: 250px;
  height: 360px;
  margin: 30px 30px 30px 30px;
  box-shadow: 0px 0px 3px 3px #dad8d8;
}
.menu__1 {
  background-color: #FCDFDB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__2 {
  background-color: #FFF5FE;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__3 {
  background-color: #F9F9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__4 {
  background-color: #FDFFFD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style__menu1 {
  text-align: center;
}
.style__menu1 i {
  font-size: 3em;
  background: linear-gradient(90deg, #f04a5e 0%, #f78f6a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.style__menu1 p {
  font-family: "Kalam", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: #3C1218;
}
.style__menu1 h2 {
  font-family: "Kalam", sans-serif;
  font-weight: 600;
  font-size: 1.8em;
  color: #3C1218;
}
.style__menu2 {
  text-align: center;
}
.style__menu2 p {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  background: linear-gradient(139deg, #c77412 0%, #9a40ee 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.style__menu2 h2 {
  font-family: "Playfair Display", sans-serif;
  font-size: 1.8em;
  font-weight: 600;
  color: #C77412;
}
.style__menu3 {
  text-align: center;
}
.style__menu3 p {
  font-family: "Kalam", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  background: linear-gradient(158deg, #081dac 0%, #0887fb 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.style__menu3 h2 {
  font-family: "Kalam", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  color: #0887FB;
}
.style__menu4 {
  text-align: center;
}
.style__menu4 p {
  font-family: "Kalam", sans-serif;
  font-size: 1.2em;
  font-weight: 600;
  background: linear-gradient(90deg, #64bf42 0%, #a8ff9e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.style__menu4 h2 {
  font-family: "Kalam", sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  color: #72BF56;
}

.zone_prochainement {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 90px;
}
.zone_prochainement__bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: 400;
  width: 270px;
  height: 50px;
  color: #FCCA46;
  background-color: #569C87;
  border-radius: 10px;
}
.zone_prochainement__bloc p {
  display: inline-block;
}

.h1_carte {
  font-size: 1.5em;
  margin: 30px 0 15px 0;
}

.carte {
  width: 75%;
  max-width: 1200px;
  height: 100%;
  box-shadow: 0px 0px 3px 3px #dad8d8;
  margin-bottom: 80px;
  padding: 0 15px 30px 15px;
  display: flex;
  justify-content: center;
}
.carte__menu1 {
  background-color: #FCDFDB;
  font-family: "Kalam", sans-serif;
}
.carte__menu2 {
  background-color: #FFF5FE;
  font-family: "Playfair Display", sans-serif;
}
.carte__menu2 p {
  font-size: 0.9em;
}
.carte__menu3 {
  background-color: #EDEFEF;
  font-family: "Kalam", sans-serif;
}
.carte__menu4 {
  background-color: #FDFFFD;
  font-family: "Kalam", sans-serif;
}

.contenu_carte {
  width: 100%;
  max-width: 490px;
}

.carte_header__menu1 {
  background-color: #FCDFDB;
  flex-direction: column;
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 1em;
}
.carte_header__menu1 i {
  background: linear-gradient(90deg, #f04a5e 0%, #f78f6a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
}
.carte_header__menu2 {
  background-color: #FFF5FE;
  background: linear-gradient(139deg, #c77412 0%, #9a40ee 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 40px 0 40px 0;
}
.carte_header__menu3 {
  background-color: #EDEFEF;
  background: linear-gradient(158deg, #081dac 0%, #0887fb 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 1.3em;
}
.carte_header__menu4 {
  background-color: #FDFFFD;
  background: linear-gradient(90deg, #64bf42 0%, #a8ff9e 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin: 40px 0 40px 0;
  font-size: 1.3em;
}

.orange {
  color: #C67412;
}

.mauve {
  color: #A56799;
}

.violet {
  color: #6E4CCC;
}

.article_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: 1em;
  margin: 20px 0 20px 0;
}
.article_header__menu1 {
  background-color: #FCDFDB;
}
.article_header__menu1 img {
  height: 5.5px;
}
.article_header__menu2 {
  background-color: #FFF5FE;
}
.article_header__menu2 h3 {
  font-size: 1em;
}
.article_header__menu2 img {
  height: 3px;
}
.article_header__menu2 img:last-child {
  transform: scaleX(-1);
}
.article_header__menu3 {
  background-color: #EDEFEF;
}
.article_header__menu3 h3 {
  font-weight: normal;
}
.article_header__menu3 img {
  height: 3px;
}
.article_header__menu3 img:last-child {
  transform: scaleX(-1);
}
.article_header__menu4 {
  background-color: #FDFFFD;
}
.article_header__menu4 h3 {
  font-weight: normal;
}
.article_header__menu4 img {
  height: 3px;
}
.article_header__menu4 img:last-child {
  transform: scaleX(-1);
}

.detail_carte {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info_prix {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.prix {
  margin-left: 10px;
}
.prix--gras {
  font-weight: bold;
}

.carte_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 50px 0;
}
.carte_footer p {
  font-size: 1.4em;
  margin-left: 5px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #569C87;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FCCA46;
  font-weight: 500;
  position: fixed;
  bottom: 0px;
}
footer p {
  margin: 0 10px 0 10px;
}

@media screen and (min-width: 641px) {
  .organisation_menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 620px;
  }

  .article_header__menu1 img {
    height: 14px;
  }
  .article_header__menu2 img {
    height: 8px;
  }
  .article_header__menu3 img {
    height: 8px;
  }
  .article_header__menu4 img {
    height: 8px;
  }

  .info_prix {
    flex-direction: row;
    text-align: left;
    width: 85%;
    justify-content: space-between;
  }
  .info_prix__menu1 {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
